.toBottom {
    position: absolute;
    bottom: -28px;
    left: 50%;
    transform: translate(-50%, 0);
}
.toBottom2 {
    position: absolute;
    bottom: -47px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;
}