.icon {
    width: 24px;
    height: 24px;
    background: linear-gradient(145.94deg, #1D2023 1.45%, #22242C 93.91%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}