$brand: hsla(239, 82%, 65%, 1);
$primary: hsla(0, 0%, 100%, 0.8);
$secondary: hsla(0, 0%, 100%, 0.25);
$default: hsla(0, 0%, 100%, 0.5);
$contrast: hsla(0, 0%, 100%, 1);
$error: #FC455B;
$success: hsla(147, 67%, 47%, 1);
$glass: #17181C;
$warning: #F9F023;
$defect: #FF9F43;
$closed: hsla(0, 0%, 100%, 0.05)